<div class="card highlight-card">Project Tracker 2023</div>
<!-- Display single project from component -->
<!-- <div class="card-container">
  <div class="card">{{ project.name }} of {{ project.course }}</div>
</div> -->
<div class="card-container">
    <div class="card" *ngFor="let p of projects" (click)="onSelect(p)">
        {{ p.name }} of {{ p.course }}
    </div>
</div>
<!-- if selectedProject is not null -->
<section *ngIf="selectedProject">
    <h2>Project Details</h2>
    <fieldset>
        <label>ID: </label>
        <input [(ngModel)]="selectedProject.id">
    </fieldset>
    <fieldset>
        <label>NAME: </label>
        <input [(ngModel)]="selectedProject.name">
    </fieldset>
    <fieldset>
        <label>COURSE: </label>
        <input [(ngModel)]="selectedProject.course">
    </fieldset>
</section>