<div class="card highlight-card">Project Tracker in Angular</div>

<div class="card-container">
  <!-- use a for loop to show a card for each element in the projects list -->
  <div class="card" *ngFor="let project of projects" (click)="onSelect(project)">
    {{ project.name }} for {{ project.course }}
  </div>
</div>

<!-- display values from an object -->
<!-- if selectedProject is not null show section -->
<section *ngIf="selectedProject">
    <h2>Project Details</h2>
    <fieldset>
        <label>ID: </label>
        <input [(ngModel)]="selectedProject.id" />
    </fieldset>
    <fieldset>
        <label>Name: </label>
        <input [(ngModel)]="selectedProject.name" />
    </fieldset>
    <fieldset>
        <label>Course: </label>
        <input [(ngModel)]="selectedProject.course" />
    </fieldset>
</section>
