<div class="card highlight-card">
    Project Tracker
</div>

<!-- Render a list of projects from the DB -->
 <div class="card-container">
    <!-- Directives and Interpolation binding -->
    <div class="card" *ngFor="let project of projects" (click)="onSelect(project)" >
        {{ project.name }} for {{ project.course }}
    </div>
</div>

<!-- 2-way data binding -->
<!-- Similar to if (selectedProject != null) -->
<section *ngIf="selectedProject">
    <h2>Project Details</h2>
    <fieldset>
        <label>ID: </label>
        <input type="text" [(ngModel)]="selectedProject.id" />
    </fieldset>
    <fieldset>
        <label>NAME: </label>
        <input type="text" [(ngModel)]="selectedProject.name" />
    </fieldset>
    <fieldset>
        <label>COURSE: </label>
        <input type="text" [(ngModel)]="selectedProject.course" />
    </fieldset>
 </section>
