<h1>{{title}}</h1>
<form method="post">
  <fieldset>
    <label for="code" class="col-2">Code:</label>
    <input name="code" id="code" required />
  </fieldset>
  <fieldset>
    <label for="name" class="col-2">Name:</label>
    <input name="name" id="name" required />
  </fieldset>
  <button type="submit" class="btn btn-primary">Save</button>
</form>