<div class="card highlight-card">
    Project Tracker 2023
</div>
<!-- Display a single project using interpolation binding {{ }} -->
<!-- <div class="card-container">
    <div class="card">
        {{project.name}} for {{project.course}}
    </div>
</div> -->

<!-- Displaying multiple elements from a list -->
<!-- Event Binding -->
<div class="card-container">
    <!-- For loop to render card divs -->
    <div class="card" *ngFor="let p of projects" (click)="onSelect(p)">
        {{p.name}} for {{p.course}}
    </div>
</div>
<!-- Two-way Data Binding -->
<!-- [(ngModel)] directive enables this -->
<!-- however... this requires you to import the angular/forms module -->
<!-- If not null -->
<section *ngIf="selectedProject">
    <h2>Project Details</h2>
    <fieldset>
        <label>ID: </label>
        <input [(ngModel)]="selectedProject.id">
    </fieldset>
    <fieldset>
        <label>Name: </label>
        <input [(ngModel)]="selectedProject.name">
    </fieldset>
    <fieldset>
        <label>Course: </label>
        <input [(ngModel)]="selectedProject.course">
    </fieldset>
</section>