<div class="card highlight-card">
    Project Tracker
</div>

<div class="card-container">
    <!-- Use for loop directive in element you want to repeat -->
    <!-- Use event binding to handle the click event in these divs -->
    <div class="card" *ngFor="let project of projects" (click)="onSelect(project)">
        {{ project.name }} for {{ project.course}}
    </div>
</div>

<!-- 2-Way Data Binding: Add a form to edit the data from above -->
<!-- use the [(ngModel)] directive to bind input fields with data from component -->
<!-- If selectedProject is not null then show this section -->
<section *ngIf="selectedProject">
    <h2>Project Details</h2>
    <fieldset>
        <label>ID: </label>
        <input [(ngModel)]="selectedProject.id">
    </fieldset>
    <fieldset>
        <label>Name: </label>
        <input [(ngModel)]="selectedProject.name">
    </fieldset>
    <fieldset>
        <label>Course: </label>
        <input [(ngModel)]="selectedProject.course">
    </fieldset>
</section>
