<h1>{{title}}</h1>
{{! CRUD Functionality }}
<a href="/courses/add" class="btn btn-info">Add a new Course</a>
{{! Table to view all projects in db }}
<table>
  <thead>
    <th>Name</th>
    <th>Code</th>
  </thead>
  <tbody>
    {{! Retrieve all projects and loop }}
    {{#each dataset}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.code}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>