<h1>{{title}}</h1>
<a href="/Courses/Add">Add a new Course</a>
<table>
    <thead>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {{#each dataset}}
            <tr>
                <td>{{this.code}}</td>
                <td>{{this.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>