<h1>{{title}}</h1>
{{! create a form to send data back to the server }}
<form method="post">
  {{! add form fields }}
  <fieldset>
    <label for="name" class="col-2">Name: </label>
    <input name="name" id="name" required/>
  </fieldset>
  <fieldset>
    <label for="dueDate" class="col-2">Due Date: </label>
    <input name="dueDate" id="dueDate"/>
  </fieldset>
  <fieldset>
    <label for="course" class="col-2">Course: </label>
    <input name="course" id="course" required/>
  </fieldset>
  {{! add a button to trigger POST request back to server }}
  <button class="offset-3 btn btn-primary">Save</button>
</form>