<!-- similar to a view -->
<div class="card highlight-card">Project Tracker</div>
<!-- use a for loop to iterate through the list and render projects -->
<div class="card-container">
    <!-- user for loop directive in element that I wish to repeat -->
    <!-- 3 - Event Binding (click) -->
    <div *ngFor="let project of projects" class="card" (click)="onSelect(project)" >
        <!-- 1 - Interpolation Binding -->
        {{project.name}}
    </div>
</div>

<!-- add a form to show/update information about a project from the list -->
<!-- 2 - Model Binding (2-way data binding) -->
<!-- It needs to be configured/enabled in app.module.ts -->
<!-- if (selectedProject) to check for not null -->
<section *ngIf="selectedProject">
    <h2>Project Details</h2>
    <fieldset>
        <label>ID:</label>
        <input [(ngModel)]="selectedProject.id" />
    </fieldset>
    <fieldset>
        <label>Name:</label>
        <input [(ngModel)]="selectedProject.name" />
    </fieldset>
    <fieldset>
        <label>Course:</label>
        <input [(ngModel)]="selectedProject.course" />
    </fieldset>
</section>