<h1>Project Tracker</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Due Date</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- Syntax uses 'of' instead of 'in' -->
    <tr *ngFor="let project of projects">
      <td>{{ project.name }}</td>
      <td>{{ project.dueDate | date }}</td>
      <td>{{ project.course }}</td>
      <td>
        <!-- inside of the for loop we have access to the project object -->
        <a class="btn btn-primary" (click)="selectProject(project)">Update</a>
        &nbsp;
        <a class="btn btn-danger" (click)="deleteProject(project._id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>

<form style="max-width: 500px">
  <h2>Project Details</h2>
  <fieldset class="form-group">
    <label class="form-label" for="name">Name: </label>
    <!-- ngModel enables two-way data binding -->
    <input class="form-control" id="name" name="name" [(ngModel)]="name" />
  </fieldset>
  <fieldset class="form-group">
    <label class="form-label" for="dueDate">Due Date: </label>
    <input
      class="form-control"
      id="dueDate"
      name="dueDate"
      [(ngModel)]="dueDate"
    />
  </fieldset>
  <fieldset class="form-group">
    <label class="form-label" for="course">Course: </label>
    <input
      class="form-control"
      id="course"
      name="course"
      [(ngModel)]="course"
    />
  </fieldset>
  <hr />
  <button class="btn btn-primary" (click)="addProject()" *ngIf="!this._id">
    Create Project
  </button>
  <button class="btn btn-info" (click)="updateProject()" *ngIf="this._id">
    Update Project
  </button>
  &nbsp;
  <button class="btn btn-secondary" (click)="clearForm()">Cancel</button>
</form>
