<h1>
  {{title}}
</h1>
<p>
  I am a developer with many years of experience.
</p>
<p>
  Some tools I use are these:
  <ul>
    {{#each tools}}
      <li>
        {{this.name}}
      </li>
    {{/each}}
  </ul>
</p>