{{!-- Overall Look and Feel of your app, contains all elements that are shown globally --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Bootstrap CSS --}}
  </head>
  <body>
    {{!-- Jumbotron --}}
    {{!-- Navigation bar --}}
    {{!-- Body indicates where the content of each partial view will be rendered --}}
    {{{body}}}
    {{!-- Bootstrap JS --}}
  </body>
</html>
