{{! Overall Look and Feel of your app, contains all elements that are shown globally }}

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{! Bootstrap CSS }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {{! Jumbotron }}
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>Welcome to my Express site!</h1>
      <p>Lorem ipsum...</p>
    </div>
    {{! Navigation bar }}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/About">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    {{! Body indicates where the content of each partial view will be rendered }}
    {{{body}}}
    {{! Bootstrap JS }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>