<h1>{{title}}</h1>
{{!-- Use forms to send data back to the server --}}
<form method="POST">
    {{!-- Add input fields to represent each attribute from the model --}}
  	{{! Input names have to match the name of the fields in the mongo schema object }}
  	{{! Mapping is not automatic, but it's best practices }}
    <fieldset>
        <label for="name" class="col-2">Name: </label>
        <input name="name" id="name" required />
    </fieldset>
    <fieldset>
        <label for="dueDate" class="col-2">Due Date: </label>
        <input name="dueDate" id="dueDate" required type="date" />
    </fieldset>
    <fieldset>
        <label for="course" class="col-2">Course: </label>
	    <select name="course" id="course">
	      {{#each courses}}
	        <option>{{this.name}}</option>
	      {{/each}}
	    </select>
    </fieldset>
    {{!-- status doesn't need a field since we'll use the default value --}}
    <button class="offset-3 btn btn-primary">Save</button>
</form>