<h1>
  {{title}}
</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label for="dueDate" class="col-2">
      Due Date:
    </label>
    <input name="dueDate" id="dueDate" required type="date" />
  </fieldset>
  <fieldset>
    <label for="course" class="col-2">
      Course:
    </label>
    {{! <input name="course" id="course" required /> }}
    <select name="course" id="course">
      {{! for loop to render options }}
      {{#each courses}}
        <option>{{ this.name }}</option>
      {{/each}}
    </select>
  </fieldset>
  {{! No need to specify Status since it has a default value }}
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>