<h1>
  {{title}}
</h1>
<form method="POST">
  <fieldset>
    <label for="name">
      Course Name:
    </label>
    <input name="name" id="name" />
  </fieldset>
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>